<h1>Restaurants</h1>
<h4 class="mb-4"><em>and their plant-based meals!<em></h4>

<div class="row row-cols-1 row-cols-lg-2">
    <% @restaurants.each do |restaurant| %>
		<div class="col">
			<div class="card my-4" style="max-width: 720px;">
				<div class="row g-0">
					<div class="col-md-5">
						<% if !restaurant.menu_items.empty? %>
							<%= cl_image_tag(restaurant.menu_items.first.photo.key, transformation: [ {gravity: "auto", height: 500, width: 760, crop: "fill"}], cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "img-fluid rounded-start") %>      
						<% else %>
							<%= cl_image_tag("no-img_qrdx6i.png", transformation: [ {gravity: "auto", height: 500, width: 760, crop: "fill"} ], cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "img-fluid rounded-start") %>      
						<% end %>
					</div>
					<div class="col-md-4">
						<div class="card-body">
							<h5 class="card-title"><%= restaurant.full_name %></h5>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card-body">
							<%= link_to "Explore Menu", menu_path(restaurant.id), class: "btn btn-primary" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

